*{
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  background-color: bisque;
}

div.gallery {
  margin: 5px;
  border: 5px solid green;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 5px solid blue;
  cursor: default;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#back{
  font-weight: bold;
}
#back a{
  text-decoration: none;
  color: crimson;
  font-size: larger;
}
